* {
  overflow-x: hidden;
}

.container {
  padding-top: 5em;
  margin: 1em;
  display: grid;

  grid-template-areas:
    "profile"
    "about"
    "profile_data"
    "languages"
    "skills"
    "education"
    "courses"
    "side_skills"
    "soft_skills"
    "experience";
}
.profile_data {
  grid-area: profile_data;
  padding: 1em;
  background-color: #eeeeee;
}
.about {
  grid-area: about;
  padding: 1em;
  background-color: #eeeeee;
}

.about > p {
  font-size: 1em;
}

.about > h2 {
  font-size: 3em;
  color: #112d4e;
}
.education {
  grid-area: education;
  padding: 1em;
}
.buttom_set {
  background-color: #112d4e;
  color: azure;
  border: none;
}
.courses {
  grid-area: courses;
  padding: 1em;
}
.languages {
  grid-area: languages;
  padding: 1em;
}

.skills {
  grid-area: skills;
  display: grid;
  grid-template-areas:
    "web_b mobile_b"
    "disply_e disply_e";
  padding: 1em;
}
.button {
  height: 5em;
  border: none;
  background-color: #eeeeee;
  color: #112d4e;
}
.web_b {
  grid-area: web_b;
}
.mobile_b {
  grid-area: mobile_b;
}
.disply_e {
  grid-area: disply_e;

  background-color: #eeeeee;
}
.disply_set {
  display: none;
}
.side_skills {
  grid-area: side_skills;
  padding: 1em;
  background-color: #eeeeee;
}
.soft_skills {
  grid-area: soft_skills;
  padding: 1em;
  background-color: #eeeeee;
}
.experience {
  grid-area: experience;
  padding: 1em;
  background-color: #eeeeee;
}
#profile {
  width: 70%;
  border-radius: 50%;
  grid-area: profile;
  margin: auto;
  padding-bottom: 2em;
}

h2 {
  font-family: monospace;
  font-size: 2.4em;
  background-color: #eeeeee;
  padding: 10px;
  color: #112d4e;
}

p {
  font-family: Verdana;
  font-size: 0.9em;
  padding: 10px;
  background-color: #eeeeee;
  color: #112d4e;
}

h3 {
  font-family: Verdana;
  font-size: 1em;
  padding: 10px;
  background-color: #eeeeee;
  color: #112d4e;
}

@media (min-width: 50em) {
  .container {
    padding-top: 5em;
    grid-template-areas:
      "about about profile profile"
      "about about profile profile"
      "profile_data profile_data languages  languages"
      "skills skills skills skills"
      "skills skills skills skills"
      "education education courses courses"
      " side_skills side_skills  soft_skills soft_skills"
      "experience experience experience experience";
    gap: 2em;
    padding-left: 4em;
    padding-right: 3em;
  }
  #profile {
    width: 60%;
    margin: auto;
  }
  .about {
    margin-top: auto;
    margin-bottom: auto;
  }
  .skills {
    width: 95%;
    margin: auto;
  }
  .about > h2 {
    font-size: 4em;
  }
  .about > p {
    font-size: 1.1em;
  }
}
