.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2em;
  width: 100%;
  padding-bottom: 10em;
  justify-content: center;
  align-items: center;
}

.main_pic {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 5em;
}

.info_data {
  display: grid;
  padding-left: 2em;
  gap: 1em;
}
.name {
  font-family: cursive;
  font-size: 2.5em;
  padding-bottom: 0.5em;
  color: #3f72af;
}
.info_text {
  font-family: cursive;
  font-size: 1.5em;
  background-color: #dbe2ef;
  color: #112d4e;
}

.go_about {
  font-family: cursive;
  font-size: 1.5em;
  text-decoration: none;
  color: #112d4e;
  background-color: #3f72af;
  margin: auto;

  padding: 0.5em;
}
@media (min-width: 50em) {
  .home {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 2em;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main_pic {
    width: 50%;
  }
  .name {
    font-size: 3em;
    font-family: "Dancing Script", cursive;
  }

  .info_text {
    font-size: 2em;
  }
}
