.containner {
  width: 100%;
  align-items: center;
  padding-top: 6em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
}

.containner > a {
  padding-left: 1.2em;
  text-decoration: none;
  padding-top: 1em;
  font-family: Verdana;
}

h3 {
  font-family: Verdana;
}
@media (min-width: 50em) {
  .containner > a {
    padding-top: 0.5em;
  }
}
