.logo {
  text-decoration: none;
  font-size: 1.5em;
  color: #112d4e;
  padding: 10px;
  font-family: Verdana;
  background-color: #3f72af;
}

.list {
  display: none;
}
.open > li {
  list-style-type: none;
  margin-bottom: 0.7em;
  font-family: Verdana;
  background-color: #3f72af;
}

.item {
  text-decoration: none;
  color: #112d4e;
  font-size: 1.2em;
  background-color: #3f72af;
}
.nav > ul {
  margin-right: 2em;
}
.nav {
  padding-top: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  padding-right: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: column;
  background-color: #3f72af;
}
.buttom {
  width: 2.5em;
  margin-top: 0.2em;
  margin-right: 1em;
  position: absolute;
  right: 3em;
  background-color: #3f72af;
}

.open {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #3f72af;
  margin-top: 1em;
}
@media (min-width: 38em) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    flex-direction: row;
    padding-left: 2em;
    align-items: center;
    background-color: #3f72af;
  }
  .open {
    display: none;
  }
  .list {
    width: 40%;
    display: flex;
    justify-content: space-around;
    background-color: #3f72af;
  }
  .list > li {
    list-style-type: none;
    font-family: Verdana;
    background-color: #3f72af;
  }
  .buttom {
    display: none;
  }
  .nav > ul > li {
    padding: 10px;
  }
  .nav > ul > li :hover {
    padding: 8px;
    border-radius: 10px;
    border: solid 1px #112d4e;
  }
}
